{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>asosiysi</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">

    <script class="u-script" type="text/javascript" src="{% static 'js/home.js' %}" defer=""></script>
    <script class="u-script" type="text/javascript" src="{% static 'js/base.js' %}" defer=""></script>


     <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i|Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i">

</head>
<body>
<header>
    <a href="{% url 'home'%}" >Bosh sohifa</a>
   <a href="{% url 'about' %}" >Saytimiz haqida</a>
</header>


{% block content%}



{%endblock content %}
</body>
</html>